.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes a {
    color: white;
    text-decoration: none;
    margin: 0px 6px;
    transition: all 0.3s;
}

.redes a:hover {
    color: #39C4BD;
}