
















#artigos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artigos--title {
    font-size: 2em;
    margin: 40px 0px;
    color: white;
}

.artigos--div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    gap: 20px;
}

.artigos--button {
    text-decoration: none;
    margin-top: 30px;
    padding: 8px 24px;
    border-radius: 10px;
    background-color: black;
    border: none;
    font-size: 1em;
    color: white;
    transition: all 0.5s;
}

.artigos--button:hover {
    color: black;
    background: white;
}

#conteudocriado {
    width: 100%;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;

}

.ListaDeArtigos {
    width: 300px;
    margin: 8px;
    height: 200px;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    border-radius: 10px;
}

.ListaDeArtigos img {
    height: 100%;
}

.ListaDeArtigos h2 {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(36, 37, 37, 0.699) 40%, transparent);
    width: 100%;
    color: white;
    font-size: 1.3em;
    border-radius: 0px 0px 10px 10px;
    
}

.ListaDeArtigos:hover h2 {
    color: #008DC3;
}



.botaovazio {
    width: 380px;
    margin: 8px;
    height: 200px;

}


.rtd {
    border-radius: 10px;
}