.footer {
    width: 100%;
    background-color: black;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 35px 0px 10px;
}


.footer--img {
    width: 300px;
    border-radius: 10px;
}

.footer--box_redes {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.footer--box_redes h3 {
    margin-bottom: 8px;
}

.footer--box_direitos {
    color: white;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

.footer--box_direitos h4 {
    margin-bottom: 8px;
}

.footer--box_direitos a {
    color: white;
    text-decoration: none;
    margin-bottom: 4px;
    font-size: 0.8em;
    text-align: center;
    transition: all 0.3s;
}

.footer--box_direitos a:hover {
    text-decoration: underline;
    color: #39C4BD;
}
.footer--meu_direito {
    color: white;
}

.footer--meu_direito a {
    text-decoration: none;
    color: white;
}

.footer--meu_direito a:hover {
    color: #39C4BD;
}



@media screen and (min-width: 750px) {
    .footer {
        flex-direction: row-reverse;
        align-items: start;
        justify-content: center;
        position: relative;
        height: 280px;
        gap: 40px;
    }

    .footer--meu_direito {
        position: absolute;
        bottom: 10px;
    }
    
    .footer--box_redes {
        text-align: center;
        font-size: 1.3em;
        margin: 40px 10px 0px;
    }
    
    .footer--box_direitos {
        text-align: center;
        font-size: 1.4em;
        margin: 40px 0px 0px;
    }
}