.home--slide-home {
    width: 100%;
    max-width: 860px;
    margin: 40px auto;
    background-color: rgba(19, 19, 19, 0.808);
    padding: 40px 0px;
    border-radius: 10px;
}

.slide_home--picture_box {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.slide_home--picture_box::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 100%;
    border-radius: 9px 9px 0px 0px;
}


.picture_box--btns {
    display: flex;
    gap: 6px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

.btn1, .btn2, .btn3, .btn4 {
    width: 10px;
    height: 10px;
    border: 0.5px solid white;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.801);
    border-radius: 50%;
    display: block;
}

.picture_box--box_arrow {
    display: flex;
    gap: 6px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    
}
.box_arrow--left, .box_arrow--rigth {
    border: none;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-size: 1.35em;
    transition: all 1s;
}

.box_arrow--left:hover, .box_arrow--rigth:hover {
    transform: scale(1.05);
}

.slide-home--text_box_slide {
    overflow: hidden;
    padding: 0px 20px;
}

.text_box_slide--title {
    text-align: center;
    margin: 25px 0px 10px;
    font-size: 1.6em;
    color: white;
}

.text_box_slide--text {
    text-align: center;
    font-size: 0.95em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.774);
    height: 110px;
    overflow: hidden;
}

.text_box_slide--link {
    color: white;
    text-decoration: none;

}

.text_box_slide--link:hover {
    color: var(--cor4);
}



@media screen and (min-width: 750px) {
    .home--slide-home {
        display: flex;
        justify-content: center;
        position: relative;
        height: 460px;
        padding: 10px;
        margin-bottom: 60px;
    }

    .slide_home--picture_box {
        width: 692px;
        height: 460px;
        top: 10px;
        left: 10px; 
        border-radius: 4px;
        margin-right: 10px;
    }

    .slide_home--picture_box::after {
        border-radius: 4px;
    }

    .picture_box--btns {
        left: 114%;
        top: 48%;
    }
    .picture_box--box_arrow {
        left: 114%;
        bottom: 40%;
        
    }
    .box_arrow--left, .box_arrow--rigth {
        border: none;
        background-color: black;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        color: white;
        font-size: 1.35em;
        transition: all 1s;
    }

    .slide-home--text_box_slide {
        width: 100%;
    }
}

@media screen and (min-width: 860px) {
    .home--slide-home {
        height: 480px;
    }

    .slide_home--picture_box {
        height: 480px;
    }

    .picture_box--btns {
        left: 113%;
        top: 47%;
    }
    .picture_box--box_arrow {
        left: 113%;
        bottom: 42%;
        
    }

    .slide-home--text_box_slide {
        margin-top: 10px;
    }
}