.admin_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.admin_page h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Neoncity';
    margin-bottom: 10px;
}

.admin_page--main {
    width: 100%;
    display: flex;
}

.page_main--articles {
    width: 70%;
    height: 600px;
    border-right: 2px solid rgba(0, 0, 0, 0.575);
}

.page_main--options {
    width: 30%;
}


