.admin_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.admin_page h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Neoncity';
    margin-bottom: 10px;
}

.admin_page--main {
    width: 100%;
    display: flex;
}

.page_main--articles {
    width: 70%;
    height: 600px;
    border-right: 2px solid rgba(0, 0, 0, 0.575);
}

.page_main--options {
    width: 30%;
}

.article_box_edition {
    width: 80%;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(26, 25, 25);
}

.article_box_edition--img {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.article_box_edition--box_title {
    color: var(--cor4);
    padding: 15px;
    position: relative;
}

.article_box_edition--box_title h3 {
    font-size: 1.2em;
    font-family: 'BeonMedium';
}

.article_box_edition--box_title p {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.753);
    margin-bottom: 5px;
}

.article_box_edition--box_title p::before {
    content: "( ";
}

.article_box_edition--box_title p::after {
    content: " )";
}

.article_box_edition_title--edit {
    position: absolute;
    bottom: 14px;
    left: 120px;
    font-family: 'Neoncity';
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right: 10px;
}

.article_box_edition_title--edit:hover {
    color: var(--cor4);
}

.article_box_edition_title--remove {
    position: absolute;
    left: 170px;
    bottom: 14px;
    font-family: 'Neoncity';
    color: rgb(255, 35, 35);
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;

}

.article_box_edition_title--destaque {
    position: absolute;
    bottom: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 0.9em;
    font-family: 'Neoncity';
}


.switch {
    position: relative;
    display: inline-block;
    width:30px;
    height: 16px;
    color: white;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .5s;
    border-radius: 34px;
}

.switch input {display: none; }

.slider::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 1px;
    bottom: 1px;
    background-color: rgb(26, 25, 25);
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: rgb(108, 177, 29);
}

.switch input:checked + .slider::before {
    transform: translateX(12px);
}
